*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#b4c8c7, #59878b, #ababab);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.content{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.box{
    width: 250px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: whitesmoke;
    transition: 0.3s ease-in-out;
}

.card1 img{
    max-width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card2 img{
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card3 img{
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card4 img{
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box img{
    margin-bottom: 30px;
}

.box h2{
    margin-bottom: 20px;
    padding-left: 10px;
    color: #626161;
}

.box h4{
    margin-bottom: 20px;
    padding-left: 10px;
    color: #555454;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.btn button{
    padding: 10px 15px;
    border: none;
    color: #d2d2d2;
    background-color: #4a4a4a;
    border-radius: 9px;
}

.box:hover{
    box-shadow: 5px 5px 20px rgb(101, 101, 101);
}

.btn button:hover{
   border: 1px solid #3a3a3a;
   background: transparent;
   color: #3a3a3a;
}