*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #fcbaba;
}

.content{
    border-radius: 20px;
    background-color: #7ff9f5;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bx{
    background-color: rgb(57, 47, 47);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

