*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(110, 43, 43);
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;

    gap: 20px;
}



.box{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.item1{
    grid-column: 1 / 4;
}

.item2{
    grid-row: 2 / 3;
}

.item3{
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.item4{
    grid-row: 2 / 4;
}

.item5{
    grid-row: 3 / 4;
}

.item6{
    grid-column: 1 / 4;
}
