*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px ;
    padding: 20px;
    gap: 20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

.item1{
    width: 100%;
    height: auto;
    grid-column: 1/4;
    border: 1px solid black;
}
.item2{
    border: 1px solid black;
    width: auto;
    height: auto;
    grid-row: 2/4;
}

.item3{
    grid-column: 2/4;
    border: 1px solid black;
}

.item4{
    border: 1px solid black;
}
.item5{
    border: 1px solid black;
}
.item6{
    height: 100px;
    grid-column: 1/4;
    border: 1px solid black;
}

