*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #858c93;
}

.container{
    padding: 20px;
}
.content{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    border: 1px solid black;
    margin: 20px;
    background-color: wheat;
}
 h2{
    margin-bottom: 20px;
 }

.box{
    border: 1px solid black;
    padding: 30px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a3a3a;
    font-size: 20px;
}

.box:nth-child(even){
    background-color: lightcoral;
}

.content2{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.content3{
    border: 1px solid black;
    padding: 20px;
}

.grid-tem3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.content4{
    padding: 20px;
    border: 1px solid black;
    margin-top: 20px;
}

.grid-tem4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item1{
    grid-row: 1/4;
    grid-column: 1/3;
}

.item5{
    grid-column: 1/4;
}

.content5{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

.grdi-item5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.header{
    grid-column: 1/4;
}

.side{
    grid-row: 2/4;
}

.m-cnt{
    grid-column: 2/4;
    grid-row: 2/4;
}

.ft{
    grid-column: 1/4;
}

.content6{
    padding: 20px;
    border: 1px solid black;
    margin-top: 20px;
}

.grid-item6{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.content7{
    padding: 20px;
    border: 1px solid black;
    margin-top: 10px;
}
.grid-item7{
    display: grid;

}

.content8{
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
}

.grid-item8{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gird-item2pt2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.content9{
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.grid-item9{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: min-content(100px, auto);
}