*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    background: linear-gradient(135deg, #518cc0, #034e5f);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}

.content{
    background-color: #ffffff;
    height: 400px;
    width: 450px;
    border-radius: 10px;
    text-align: center;
}

h1{
    padding: 5px 20px;
    margin-bottom: 20px;
   
}

p{
    margin-bottom: 20px;
}

.logo{
    width: 400px;
    margin: 10px 10px;
}

form{
    display: flex;
    flex-direction: column;
}

input[type="email"] {
  padding: 20px;
  margin: 0 10px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid #333;
}

button{
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #0540e3;
    color: whitesmoke;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

button:hover{
 background-color: #002ba0;   
}