*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    color: #fff;
}

.navbar-conatiner{
    padding: 10px;
}

h2{
    margin-bottom: 20px;
}

.nav1{
    padding: 10px 80px;
    background-color: wheat;
}
.nav1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 ul li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.nav1 ul li a button{
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 60px;
    background-color: rgb(28, 158, 185);
    color: aliceblue;
}

