*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    color: #fff;
}

.nav-container{
    padding: 20px;
}
h2{
    margin-bottom: 20px;
}
.nav1{
    background-color: #d9d7d7;
    padding: 10px 15px;
}

.nav1 ul{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: absolute;
}

.nav1 a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 1px;
    background-color: blue;
    transition: 0.3s ease-in-out;
}

.nav1 a:hover::after{
    transform: scaleX(1);
}

.nav1 .login-btn{
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    background-color: #0917e0;
    color: #fff;
    cursor: pointer;
}
/* ----------------------------------------------------------------------------------- */
.nav2 {
    background-color: rgb(236, 249, 248);
    width: 300px;
    padding: 10px 20px;
}

.nav2 ul{
    list-style-type: none;
}

.nav2 li{
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.nav2 a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 20px;
}


.nav2 .login-btn{
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #5ce7ee;
}
.nav2 li:hover{
    background-color: #5ce7ee;
}

/* ----------------------------------------------------------------------------------- */

.nav3{
    background-color: rgb(3, 84, 128);
    padding: 10px;
}

.nav3 ul{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    list-style-type: none;
}

.nav3 a{
    font-size: 20px;
    text-decoration: none;
    color: #f2efef;
    padding: 10px;
    display: block;
}

.nav3 .drop-down-cnt{
    display: none;
}

.nav3 .dropdown:hover .drop-down-cnt{
    display: block;
    position: absolute;
    background-color: rgb(59, 57, 57);
}

.nav3 .login_btn{
    font-size: 15px;
    padding: 5px 30px;
    border: none;
    border-radius: 15px;
}

.nav3 .login_btn:hover{
    background-color: rgb(95, 95, 232);
    color: whitesmoke;
}