*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    color: #fff;
}

.nav-conatner{
    padding: 20px;
}
h2{
    margin-bottom: 20px;
}
.nav1{
    background-color: #d9d7d7;
    padding: 10px 15px;
}

.nav1 ul{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: absolute;
}

.nav1 a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 1px;
    background-color: blue;
    transition: 0.3s ease-in-out;
}

.nav1 a:hover::after{
    transform: scaleX(1);
}

.nav1 .login-btn{
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    background-color: #0917e0;
    color: #fff;
    cursor: pointer;
}