*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #7a7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 10px;
    padding: 0 4%;
    width: 20%;
    background:linear-gradient(rgb(154, 213, 217), rgb(146, 146, 227));
}

.card h1{
    margin: 10% auto;
    text-align: center;
    color: rgb(0, 0, 0);
}
input{
    padding: 5%;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;
}

button{
    padding: 5% 35%;
    margin-bottom: 20%;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    background-color: rgb(96, 21, 236);
    color: aliceblue;
}

button:hover{
    background-color: rgb(39, 0, 112);
}