*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    width: 300px;
    background-color: rgb(125, 120, 120);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.card h1{
    margin-top: 20px;
    margin-bottom: 30px;
    color: aliceblue;
}

form{
    display: flex;
    flex-direction: column;
    color: white;
}

input{
    margin-bottom: 10%;
    border: none;
    padding: 5%;
    border-radius: 6px;
}

button{
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

