* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background-color: #1a1a1a; */
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top{
    margin-top: 10px;
    width: 50%;
}

footer .fc{
    display: flex;
    align-items: center;
    justify-content: center;
}